.squareOne {
  width: 400px;
  height: 400px;
  background: #ef5122; }

.squareTwo {
  width: 200px;
  height: 200px;
  background: #68ac87;
  float: right; }

.squareThree {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: #f49ea7;
  vertical-align: top; }

.squareFour {
  width: 300px;
  height: 300px;
  background: #ef5122;
  border: 2px solid #68ac87; }

.squareFive {
  width: 300px;
  height: 300px;
  background: #68ac87; }
